

<form >
    <div class="form-group"  >
      <label for="formGroupExampleInput">First Name</label>
      <input type="text" class="form-control" (blur)="firstname = trimming_fn(firstname)" [(ngModel)]="firstname" [ngModelOptions]="{standalone: true}" id="formGroupExampleInput" placeholder="Enter Your First Name">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput">Last Name</label>
        <input type="text" class="form-control" [(ngModel)]="lastname" [ngModelOptions]="{standalone: true}" id="formGroupExampleInput" placeholder="Enter Your Last Name">
      </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Number</label>
      <input type="text"  (blur)="number = trimming_fn(number)" [(ngModel)]="number" [ngModelOptions]="{standalone: true}"  class="form-control" id="formGroupExampleInput2" placeholder="Enter Your Mobile number">
    </div>
  

  <div *ngIf="avail">
    <Button class="btn btn-primary" (click)="onClick()">Save</Button>

    
    <Button class="btn btn-primary" (click)="onCancle()">Cancel</Button>

  </div>
</form>