/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.btn{
 margin:10px;
}

.c2{
    background-color:rgb(219, 42, 42);
}

.c1{
    background-color: grey;
}
