/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.btn{
 margin:10px;
}

.c2{
    background-color:rgb(219, 42, 42);
}

.c1{
    background-color: grey;
    height: 100px;
    width:200px;
    text-align: center;
    background-color: aqua;
    color:black;
    padding:8px;

}


div.timeslots {
    box-sizing:border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    margin-right:8px;
    box-sizing: border-box;
}
